#flagbackground{
    background-color: rgb(59, 59, 216);
    height: 400px;
    width: 700px;
    margin-right: 2%;
    margin-bottom: 2%;

}


#cross{
    background-color: yellow;
    height: 50px;
    width: 705px;
    margin-inline-end: 0%;


}

#cross2{
    background-color: yellow;
    height: 350px;
    width: 50px;
    margin-left: 200px;
}