*{
    padding: 0px;
    margin: 0px;
    font-family: cursive;

}


.nav{
    background-color: black;
    display: flex;
    width: 100%;

}

.nav h1{
    color: white;
    display: inline;
    margin-left: 400px;
    margin-top: 20px;
}

.nav ul{
    display: inline-flex;
}

li{
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 100px;
}

button.btn{
    background-color: rgb(17, 153, 158);
    color: white;
    padding: 5px 17px;
    box-shadow: 1px;
    margin-left: 100px;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
}

/* end of nav bar */

/* start of user info */

#main{
    border-top: rgb(17, 153, 158) thick;
    border-top-width: 60pt;
    border-left: lightgray;
    border-right: lightgrey;
    border-bottom:lightgrey;
    border-style:solid;
    width: 400px;
    height: 200px;
    margin-left: 23%;
    margin-top: 20px;
}

#userImage{
    width: 85px;
    height: 90px;
    top: 120px;
    padding-left: 10px;
    position: absolute;
    display: flex;
}


#main h1{
margin-top: 30px;
padding-left: 10px;
}

#map{
    width:10px;
    height:17px;
}

#p1{
    padding-left: 10px;
}

#p2{
    padding-left: 10px;
    padding-top: 10px;
}


#main li{
    color: black;
    margin: 0;
    display: inline;
    padding-left: 10px;
    
}

#main ul{
    padding-top: 10px;
}

#gear{
    width: 15px;
    height: 15px;
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
}


#a2{
    color: rgb(17, 153, 158);
    gap: 10px;
    padding-top: 10px;
    text-decoration: underline;
    
}


/* end of user info */

/* start of connection request */

#userRequestTop{
    background-color: black;
    border-style:solid;
    display: flex;
    justify-content: center;
    flex: wrap;
    width: 300px;
    height: 50px;
    flex: 1;
    margin-left: 45%;
    margin-top: -283px;
}

#userRequestTop p{
    border-style: solid;
    border-color: lightgrey;
    background-color: lightgrey;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 3px;
}

#userRequestTop h3{
    color: white;
    margin-top: 10px;
}

/* second portion of user connection */


#userRequestBottom{
    border-style:solid;
    border-top: none;
    display: flex;
    flex: wrap;
    border-color: lightgray;
    width: 300px;
    height: 100px;
    flex: 1;
    margin-left: 45%;

}

#davidPic, #freddyPic{
    width: 30px;
    height: 30px;
    padding: 5px;
}

#davidButton1, #davidButton2, #freddyButton1, #freddyButton2{
    width: 25px;
    height: 25px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    
}

#userRequestBottom ul{
    display: inline;
    
}

#userRequestBottom li{
    color: black;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 5px;
}

#mercury, #gilmore{
    padding-top: 10px;
    font-size: 12pt;
}

/* end of user connection */


/* start of your connections */

#yourConnectionsTop{
    background-color: black;
    border-style:solid;
    width: 300px;
    height: 50px;
    display: flex;
    flex: wrap;
    flex: 2; 
    justify-content: center;
    margin-left: 45%;
    margin-top: 20px;

}

#yourConnectionsTop h3{
    color: white;
    justify-content: center;
    margin-top: 12px;;
}

#yourConnectionsTop p{
    border-style: solid;
    border-color: lightgrey;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-right: 3px;
}

/* end part of your connections */

#yourConnectionsBottom{
    border-style:solid;
    border-top: none;
    border-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    margin-left: 45%;
}

#yourConnectionsBottom p{
    color: black;
    font-size: large;
    display: flex;

}


#conImage{
    width: 30px;
    height: 30px;
    padding: 10px;
}

/* part three of your connection */

#yourConLast{
    border-color: lightgray;
    border-style: solid;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 50px;
    width: 300px;
    margin-left: 45%;
    
}

#viewMore{
    color:rgb(17, 153, 158);
    display: flex;
    justify-content: flex-start;
    text-decoration: underline;
    padding-top: 10px;
    padding-left: 5px;
}


/* end of your connections */

/* start of education */

#education{
    background-color: black;
    border-style:solid;
    display: flex;
    flex: wrap;
    width: 400px;
    height: 50px;
    margin-top: -200px;
    margin-left: 440px; 
}

#edu{
    color: white;
    padding-top: 5px;
    padding-left: 10px;
}

#edu2{
    border-left: lightgray;
    border-right: lightgrey;
    border-bottom:lightgrey;
    border-top:none;
    border-style:solid;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 400px;
    margin-left: 440px;

}


#edu2 h2{
    font-size: large;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

#date{
    color:lightgray;
    padding-left: 10px;
}

#stacks{
    padding-top: 5px;
    padding-left: 10px;
}