*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    /* display: inline; */
}

#container{
    /* display: inline; */
}

#navBar{
    display: flex;
    justify-content:space-evenly;
    background-color: black;
    width: 100%;
    height: 80px;
}

#navBar ul{
    list-style: none;
    display: flex;
    color: white;
    padding-top: 10px;
}

#navBar li{
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

#navBar h1{
    color: white;
    padding-top: 25px;
}

#navBar button{
    background-color: turquoise;
    width: 80px;
    height: 30px;
    display: inline;
    margin-top: 25px;
}

/* nav bar end */



#blueBox{
    width: 405px;
    height: 80px;
    background-color: turquoise;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: calc();
    display: flex;
    flex-wrap: wrap;
}


#profilePicture{
    height:85px;
    width: 85px;
    position:fixed;
    margin-top: 25px;
    padding-left: 10px;
    
}


/*blue box end  */

#userBox{
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: lightgray;
    width: 400px;
    height: 200px;
    margin-left: 25%;
    margin-right: calc();
}


#userBox h2{
    padding-top: 25px;
    display: flex;
    padding-left: 10px;;
    
    
}


#userBoxPic2 {
    width: 15px;
    height: 20px;
    margin-top: 50px;
    
}


#location{
    display: flex;
    
}

#userBox li{
    list-style-type: none;
    display: inline;
    
}

#userBox ul{
    padding-left: 10px;;
}


#intro{
    display: flex;
    padding-left: 10px;
}

#userBoxPic3 {
    width: 20px;
    height: 20px;
    display: flex;

}

#userBox a{
    display: flex;
}


/* end of userBox */

#connectionRequest{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;
    height: 150px;
    border-style: solid;
    border-color: lightgray;
    margin-left: 55%;
    margin-right: calc();
    margin-bottom: 50%;
}

#requestUserImage{
    width: 50px;
    height:50px;
    display: flex;
    
}

#connectionIcon {
    width: 40px;
    height:40px;
    padding: 10px;
    display: flex;
    
}

#connectionRequest ul li{
    list-style-type: none;
    display: flex;
    padding: 10px;
    margin-left: 10px;
    flex-direction: row;
    font-size: 15pt;
}
