#{
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    width: 970px;
    margin: 0 auto;
}

#sec1{
    display: flex;
    justify-content: space-between;
}

nav{
    background-color: black;
    color: white;
    font-size: 20pt;
    padding: 15px;
    margin-top: 0;
}

h1{
    display: flex;
    justify-content: center;
}

img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-left: 45px;
    margin-top: 15px;
}

#mainUser{
    border-style: solid;
    border-color: black;
    width: 200px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-content: center;
}

h2{
    display: flex;
    justify-content: center;
}   

#mainP{
    color: slateblue;
    text-decoration: underline;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


#groupUser{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#userFriends{
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
}
button{
    width: 60px;
    height: 20px;
    background-color: deepskyblue;
    color: white;
    font-size: 12pt;
    box-shadow: silver 2px 2px 2px;
    margin: 5px;
}

.numLikes1, .numLikes2, .numLikes3{
    padding-left: 125px;
}

#userName{
    font-size: 14pt;
    font-weight: bolder;
    margin: 10px;
    width: 500px;
}


#p2{
    padding-left: 30px;
    font-weight: bold;
}

.link{
    text-decoration: underline;
    color: slateblue;
}